<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" [translate]="'Signer.SettingsTitle'"></h5>
      <advanced-form-edit [(data)]="model" (customEvent)="onCustomEvent($event)" [formConfig]="formConfiguration" ></advanced-form-edit>
    </div>
  </div>
</div>

